[Desktop Entry]
Name=EscraDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/escradesk;
TryExec=escradesk
Exec=escradesk --connect "%u"
Icon=escradesk
Terminal=false
Type=Application
StartupNotify=false
Version=1.5
